<h1>Contact</h1>
<address>
  <strong>Blog Leon Inc.</strong><br>
  Gorkogo, 60<br>
  Cherkassy, 18000<br>
  Phone: (093) 000-00-00<br>
  Email <a href="mailto:igrleon@gmail.com">igrleon@gmail.com</a>
</address>