- if current_user
  = render 'shared/search_form'
- else
  .center.jumbotron
    %h1 Welcome to the Blog-Leon app
    = link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary"
- if @posts.length == 0
  %h3 No posts found
- else
  - @posts.each do |post|
    = render partial: "posts/post", locals: { :post => post }
  = paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm' if current_user