<% unless notice.blank? && alert.blank? %>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> text-center fade-in" >
      <%= value %>
      <%= link_to 'x', '#', {"data-dismiss" => "alert", class: "close"} %>
    </div>
  <% end %>
<% end %>