.row
  .col-md-8.bs-callout
    %h1 Edit Post
    = form_for @post, :url => user_post_path(current_user.id, @post.id) do |f|
      = render partial: "form", locals: { :f => f }
      = link_to ' show', user_post_path(current_user.id, @post), class: "fa fa-eye btn btn-info"
      = link_to ' back', user_posts_path, class: "btn btn-info fa fa-circle-o-notch"
