<%= render partial: 'shared/errors' %>
<h1>New Post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @post, :url => user_posts_path(current_user.id, @post.id) do |f| %>
      <%= render partial: "form", locals: { :f => f } %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', user_posts_path, class: "btn-sm btn-info" %>