%h1 New Post
.row
  .col-md-6.col-md-offset-3
    = form_for @post, :url => user_posts_path(current_user.id, @post.id) do |f|
      = render partial: "form", locals: { :f => f }
= link_to 'Back', user_posts_path, class: "btn-sm btn-info"
