// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border: 2px dotted black;
  border-collapse: collapse;
  td, th {
    padding: 5px;
    border: 2px dotted black;
  }
  th {
    background-color: #ccc;
  }
}